# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Databases
*.db
*.sqlite
*.sqlite3

# Rapporten
reports/

# Demo-praktijktest
demo_runs/

# Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# Logs
*.log
